.trash-color {
  color: red;
  cursor: pointer;
}

.user-button {
  padding: 3%;
  float: right;
}

.title {
  text-align: center;
  margin-top: 5%;
}

.pagination {
  float: right;
}

.table-row{
cursor: pointer;
}
